<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.tulusoft.themaze">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".Activities.TheMazeApp"
        android:allowBackup="true"
        android:icon="@drawable/trip_pyramin2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity android:name=".Activities.Flash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.MainActivity">
        </activity>

        <activity android:name=".Activities.SelectPlayMode">
        </activity>
        <activity android:name=".Activities.GamePlayActivity">
        </activity>
        <activity android:name=".Activities.GameStoryActivity">
        </activity>
        <activity android:name=".Activities.OptionActivity">
        </activity>
        <activity android:name=".Activities.ArrayTrialItemActivity">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
